.title {
    text-align: center;
}
.color-nav {
    background-color: darkred;
    font-weight: bolder;
    color: black;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}
.civil {
    padding: 20px;
    border-style: ridge;
}
.intro {
    padding: 20px;
    border-style: ridge;
}